body {
    background-color: black;
    color: white
}

h1 {
    text-align: center
}

#hub {
    color: black;
    background-color: orange;
    border-radius: 5px;
    padding: 5px
}

.photos {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

@media (min-width: 1000px) {
    h2 {
        font-size: 25px
    }
    
    .buttons {
        width: 70px;
        height: 100px
    }

    button {
        margin: 20px
    }

    #photo {
        width: 500px;
        height: 500px
    }

    #score {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%)
    }
}

@media (max-width: 999px) {
    h2 {
        font-size: 24px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
    }
    
    .buttons {
        width: 30px;
        height: 45px
    }
 
    button {
        margin: 20px
    }

    #photo {
        width: 200px;
        height: 200px
    }

    .photos {
        top: 50%;
        transform: translate(-50%, -50%)
    }
    
    #score {
        bottom: 15%
    }
}
